THIS IS MINE 





#   - Treat as text
#   - Normalize to LF line endings
*              text=auto eol=lf

*.hlsl         text      eol=lf
*.json         text      eol=lf
*.manifest     text      eol=lf
*.md           text      eol=lf]
\ NJK

*.shprroj      text      eol=lf
*.sln          text      eol=lf
*.slnf         text      eol=lf
*.targets      text      eol=lf
*.xaml         text      eol=lf
*.txt          text      eol=lf
*.yml          text      eol=lf

# Images
*.png          binary
*.jpg          binary
*.gif          binary

# Keys
*.snk          binary
*.pfx          binary
*.cer          binary

# Other binary files
*.dll          binary
