
*.ps1          text      eol=lf
*.resx         text      eol=lf
*.sh           text      eol=lf
*.shprroj      text      eol=lf
*.sln          text      eol=lf
*.slnf         text      eol=lf
*.targets      text      eol=lf
*.xaml         text      eol=lf
*.txt          text      eol=lf
*.yml          text      eol=lf

# Images
*.png          binary
*.jpg          binary
*.gif          binary

# Keys
*.snk          binary
*.pfx          binary
*.cer          binary

# Other binary files
*.dll          binary
